li{
    list-style: none;
    margin: 0;
    padding: 0;
}


.active{
    color: red;
}

.deposit {
    margin: 50px;
}

.deposit-box{
    background-color: aqua;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 50px;
    height: 150px;
}